{% extends 'base.html' %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container-fluid">
    <div class="card m-2 mt-5 mb-5">
        <div class="card-body d-flex">
            <h5 class="my-auto"> WALL-SLAM interface</h5>
            <div class="my-auto mx-4 d-flex">
                <div class="form-check form-switch mx-2 my-auto">
                    <input class="form-check-input" type="checkbox" id="connection-switch" onchange="SettingConnectionState()" checked>
                    <label class="form-check-label" for="switch">Connection to ESP</label>
                    <p id="connection-message"></p>
                </div> 
                <h3><span class="badge connected-badge my-auto mx-2"></span></h3>
                <button id="toggleButtonHideSetting" class="mx-2 btn btn-primary my-auto"  onclick="settingHide()">Hide Off</button>
            </div>
        </div>
    </div>
    <div class="row mx-2">
        <div class="col card mx-2 my-2">  
            <div class="card-body">
                <h5 class="card-tile">Orrientation Correction using Kalman</h5>
                <hr>
                <div class="mt-4 setting" style="display: block;">
                    <div class="d-flex">
                        <button id="reset-distance" class="mx-1 btn btn-primary reset">Reset</button>
                        <button id="update-distance" class="mx-1 btn btn-primary update">Update</button>
                        <button id="tg-update-distance" class="mx-1 btn btn-primary tg-update">Toggle Update</button>
                        <div class="mx-auto">
                            <div class="d-flex">
                                <p class='mx-2 my-auto'> <span id="label-frequency-distance" class="label-frequency" >10</span>s</p>
                                <input type="range" min="2" max="100" value="10" step="1" class="slider slider-frequency" id="slider-frequency-distance" style="width:100px;" >
                            </div>
                            <div class="progress pdiv my-auto" id="progress-distance" style="display: none;">
                                <div id="pb-distance" class="progress-bar pb" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                       
                    </div>
                    
                    <div class="row mx-auto my-2"> 
                      
                    </div>       
                </div>
                                   
                <div id="graph-distance" style="height: 200px;"></div>
                        
            </div>
        </div>
    
           <div class="col card mx-2 my-2">  
            <div class="card-body">
                <h5 class="card-tile">Communication frequency</h5>
                <hr>
                <div class="mt-4 setting" style="display: block;">
                    <div class="d-flex">
                        <button id="reset-com" class="mx-1 btn btn-primary reset">Reset</button>
                        <button id="update-com" class="mx-1 btn btn-primary update">Update</button>
                        <button id="tg-update-com" class="mx-1 btn btn-primary tg-update">Toggle Update</button>
                        <div class="mx-auto">
                            <div class="d-flex">
                                <p class='mx-2 my-auto'> <span id="label-frequency-com" class="label-frequency" >10</span>s</p>
                                <input type="range" min="2" max="100" value="10" step="1" class="slider slider-frequency" id="slider-frequency-com" style="width:100px;" >
                            </div>
                            <div class="progress pdiv my-auto" id="progress-com" style="display: none;">
                                <div id="pb-com" class="progress-bar pb" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                       
                    </div>
                    
                    <div class="row mx-auto my-2"> 
                      
                    </div>       
                </div>
                                   
                <div id="graph-com" style="height: 200px;"></div>
                        
            </div>
        </div>
        <div class="col card mx-2 my-2">  
            <div class="card-body">
                <h5 class="card-tile">Noisy obstacle detected</h5>
                <hr>
                <div class="mt-4 setting" style="display: block;">
                    <div class="d-flex">
                        <button id="reset-obs-raw" class="mx-1 btn btn-primary reset">Reset</button>
                        <button id="update-obs-raw" class="mx-1 btn btn-primary update">Update</button>
                        <button id="tg-update-obs-raw" class="mx-1 btn btn-primary tg-update">Toggle Update</button>
                        <div class="mx-auto">
                            <div class="d-flex">
                                <p class='mx-2 my-auto'> <span id="label-frequency-obs-raw" class="label-frequency" >10</span>s</p>
                                <input type="range" min="2" max="100" value="10" step="1" class="slider slider-frequency" id="slider-frequency-obs-raw" style="width:100px;" >
                            </div>
                            <div class="progress pdiv my-auto" id="progress-obs-raw" style="display: none;">
                                <div id="pb-obs-raw" class="progress-bar pb" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                       
                    </div>
                    
                    <div class="row mx-auto my-2"> 
                      
                    </div>       
                </div>
                                   
                <div id="graph-obs-raw" style="height: 200px;"></div>
                        
            </div>
        </div>
    </div>
    <div class="row mx-2">

        <div class="col card mx-2 my-2">  
            <div class="card-body">
                <h5 class="card-tile">Redundancy Correction</h5>
                <hr>
                <div class="mt-4 setting" style="display: block;">
                    <div class="d-flex">
                        <button id="reset-redundancy" class="mx-1 btn btn-primary reset">Reset</button>
                        <button id="update-redundancy" class="mx-1 btn btn-primary update">Update</button>
                        <button id="tg-update-redundancy" class="mx-1 btn btn-primary tg-update">Toggle Update</button>
                        <div class="mx-auto">
                            <div class="d-flex">
                                <p class='mx-2 my-auto'> <span id="label-frequency-redundancy" class="label-frequency" >10</span>s</p>
                                <input type="range" min="2" max="100" value="10" step="1" class="slider slider-frequency" id="slider-frequency-redundancy" style="width:100px;" >
                            </div>
                            <div class="progress pdiv my-auto" id="progress-redundancy" style="display: none;">
                                <div id="pb-redundancy" class="progress-bar pb" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                       
                    </div>
                    
                    <div class="row mx-auto my-2"> 
                      
                    </div>       
                </div>
                                   
                <div id="graph-redundancy" style="height: 200px;"></div>
                        
            </div>
        </div>
        <div class="col card mx-2 my-2">  
            <div class="card-body">
                <div class="d-flex justify-content-between">
                <h5 class="card-tile">Kmeans on the obstacle </h5>
                <div class="setting" style="display: block;">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        More Setting
                    </button>
                </div>
                </div>
                <hr>
                <div class="mt-4 setting" style="display: block;">
                    <div class="d-flex">
                        <button id="reset-kmeans" class="mx-1 btn btn-primary reset">Reset</button>
                        <button id="update-kmeans" class="mx-1 btn btn-primary update">Update</button>
                        <button id="tg-update-kmeans" class="mx-1 btn btn-primary tg-update">Toggle Update</button>
                        <div class="mx-auto">
                            <div class="d-flex">
                                <p class='mx-2 my-auto'> <span id="label-frequency-kmeans" class="label-frequency" >10</span>s</p>
                                <input type="range" min="2" max="100" value="10" step="1" class="slider slider-frequency" id="slider-frequency-kmeans" style="width:100px;" >
                            </div>
                            <div class="progress pdiv my-auto" id="progress-kmeans" style="display: none;">
                                <div id="pb-kmeans" class="progress-bar pb" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                       
                    </div>
    
                    
                      
                      <div class="collapse card card-body m-2" id="collapseExample">
                            <div class="mx-2 d-flex justify-content-between"> 
                                <p> Max Number Of Obstacle (K) </p>
                            
                                <div class="d-flex">
                                    <p class='mx-2 my-auto'><span id="valuemax_k"> 10 </span></p>
                                    <input type="range" min="2" max="100" value="10" step="1" class="slider" id="max_k" >
                                </div>
                            </div>
                            <div class="mx-2 d-flex justify-content-between"> 
                                <p> split </p>
                                <div class="d-flex">
                                    <p class='mx-2 my-auto'><span id="valuesplit"> 0.9 </span></p>
                                    <input type="range" min="0.6" max="1" value="0.9" step="0.01" class="slider" id="split" >
                                </div>
                            </div>
                            <div class="mx-2 d-flex justify-content-between"> 
                                <p> threshold </p>
                                <div class="d-flex">
                                    <p class='mx-2 my-auto'><span id="valuethreshold"> 1 </span></p>

                                    <input type="range" min="0" max="100" value="1" step="0.01" class="slider" id="threshold" >
                                </div>
                            </div>
                            <div class="mx-2 d-flex justify-content-between"> 
                                <p> Minimum of point for a cluster </p>
                                <div class="d-flex">
                                    <p class='mx-2 my-auto'> <span id="valuefilter" class='mx-2'> 10 </span> </p>
                                    <input type="range" min="1" max="100" value="10" step="1" class="slider" id="filter" >
                                </div>
                            </div>
                      </div>    
                </div>
                                   
                <div id="graph-kmeans" style="height: 200px;"></div>
                        
            </div>
        </div>
    </div>
    <div class="row mx-2">
        <div class="col card mx-2 my-2">  
            <div class="card-body">
                <h5 class="card-tile">Navigation using Dijkstra</h5>
                <hr>
                <div class="mt-4 setting" style="display: block;">
                    <div class="d-flex">
                        <button id="reset-movement" class="mx-1 btn btn-primary reset">Reset</button>
                        <button id="update-movement" class="mx-1 btn btn-primary update">Update</button>
                        <button id="tg-update-movement" class="mx-1 btn btn-primary tg-update">Toggle Update</button>
                        <div class="mx-auto">
                            <div class="d-flex">
                                <p class='mx-2 my-auto'> <span id="label-frequency-movement" class="label-frequency" >10</span>s</p>
                                <input type="range" min="2" max="100" value="10" step="1" class="slider slider-frequency" id="slider-frequency-movement" style="width:100px;" >
                            </div>
                            <div class="progress pdiv my-auto" id="progress-movement" style="display: none;">
                                <div id="pb-movement" class="progress-bar pb" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                       
                    </div>
                    
                    <div class="row mx-auto my-2"> 
                      
                    </div>       
                </div>
                                   
                <div id="graph-movement" style="height: 300px;"></div>
                        
            </div>
           
        </div>
   
    </div>
    <div class="row mx-2 my-5">

 
        <div class="col-xl-5 card m-2">
            <div class="card-body">
                <h4 class="card-tile ">Global Setting</h4>
                <hr>
                <div class="mx-2">

                    <h5 clas="my-4"> 
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="connection-switch" onchange="SettingConnectionState()" checked>
                            <label class="form-check-label" for="switch">Connection to ESP</label>
                            <p id="connection-message"></p>
                        </div> 
                    </h5>
                    <div class='my-4'>
                        <h5> Data Mode</h5>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="data-ESP-switch" onchange="SettingDataESP()" disabled>
                            <label class="form-check-label" for="switch">Use Data from ESP</label>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="data-SIM-switch" onchange="SettingDataSIM()">
                            <label class="form-check-label" for="switch">Use Data from Simulation</label>
                        </div>
                    </div>

                    <div class='my-4'>
                        <h5> Chewbacca Mode</h5>
                    
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="mode-dumb-switch" onchange="SettingModeDumb()" disabled>
                            <label class="form-check-label" for="switch">Chewbacca Dumb Mode   <span class="mx-2" id="mode-dumb-message"></span></label>
                            <p class="text-muted"> Consist of advancing till it see a wall, then turn 90 degrees left. Repeat for ever. </p>
                        </div> 
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="mode-smart-switch" onchange="SettingModeSmart()" disabled>
                            <label class="form-check-label" for="switch">Chewbacca Smart Mode   <span class="mx-2" id="mode-smart-message"></span></label>
                            
                            <p class="text-muted"> Given the previous place, optimize discovering by calculating the area it can cover. </p>

                        </div> 

                    </div>

                    <div class="my-4">
                        <h5 class="my-2"> Chewbacca Setting</h5>
                        <div class="mx-2 d-flex justify-content-between"> 
                            <p> Speed </p>
                            <input type="range" min="0" max="100" value="50" class="slider" id="mySlider">
                        </div>
                        <div class="mx-2 d-flex justify-content-between"> 
                            <p> Frequency of Sensor </p>
                            <input type="range" min="0" max="100" value="50" class="slider" id="mySlider1">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 card m-2">
       
            <div class="card-body"> 
                <h4 class="card-tile">Debuging</h4>
                <hr>

              
                <div class="mx-2">
                    <div class="m-2">
                        <h5 class="my-2"> Chewbacca direct input </h5>
                        <p> This to manually test the command send to the ESP </p>
                        <div id="debugStatus"></div>
                        <div>
                            <button class="m-1 btn btn-secondary" onclick="sendMovementCommand('forward')" >Move Forward</button>
                            <button class="m-1 btn btn-secondary" onclick="sendMovementCommand('backward')" >Move Backward</button>
                        </div>
                        <div>
                            <button class="m-1 btn btn-secondary" onclick="sendMovementCommand('right')" >Move Right</button>
                            <button class="m-1 btn btn-secondary" onclick="sendMovementCommand('left')" >Move Left</button>
                        </div>
                        <div>
                            <button class="m-1 btn btn-secondary" onclick="sendMovementCommand('stop')" >Stop</button>
                        </div>
                    </div> 
                    <hr>
                    <div class="container">
                        <h5>Error Log</h5>
                        <div id="error-container"  class="scrollable-container" style="max-height: 200px; overflow-y: auto;"></div>
                          <!-- Error messages will be dynamically added here -->
                        </ul>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-5 card m-2">
            <div class="card-body">
                <h4 class="card-tile ">Status</h4>
                <hr>
                <div class="mx-2">
                    <h5> Connection Status   <span class="badge connected-badge"></span></h5>
                    <div class="m-3 d-flex">
                        <p class="m-2"> Host :  </p>
                        <p class="m-2" id="host-name"></p>
                        <p class=" m-2" id="host-ip"></p>
                        
                    </div>                     
                </div>
                <hr>
                <div class="container">
                    <h5>Info Log</h5>
                    <div id="info-container"  class="scrollable-container" style="max-height: 200px; overflow-y: auto;"></div>
                      <!-- Error messages will be dynamically added here -->
               
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-5 card m-2">  
            <div class="card-body">
                <h4 class="card-tile">Chewbacca OutPut</h4>
                <hr>
                <div class="container">
                        
                        <div id="output-container"  class="scrollable-container" style="max-height: 200px; overflow-y: auto;"></div>
                          <!-- Output messages will be dynamically added here -->
                        </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-5 card m-2">  
            <div class="card-body">
                <h4 class="card-tile">Chewbacca Input</h4>
                <hr>
                 <div class="container">
                        <div id="input-container"  class="scrollable-container" style="max-height: 200px; overflow-y: auto;"></div>
                          <!-- Input messages will be dynamically added here -->
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsquery/jsquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/plotly/plotly.min.js') }}"></script>
{% endblock %}