{% extends 'base.html' %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
    <span class="title m-5" ><h1>WALL-SLAM Interface</h1></span>

    <div class="card m-5">
        <div class="card-body">
            <h5 class="card-tile ">Status</h5>
            <hr>
            <div class="mx-2">
                <h6> Connection Status  <span class="badge mx-3" id="badge-status"></span> </h6>
                <div class="mx-2">
                    <p id="host-ip"></p>
                    <p id="host-name"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card m-5">
       
        <div class="card-body"> 
            <h5 class="card-tile">Debuging</h5>
            <hr>

            <p> This to manually test the command send to the ESP </p>
            
           
            <div class="m-4">
                <p class="my-2"> Chewbacca direct input :</p>
                <button class="btn btn-secondary" onclick="sendStop()">Stop</button>
                <button class="btn btn-secondary" onclick="sendMoveForward()">Move Forward</button>
                <button class="btn btn-secondary" onclick="sendMoveBackward()">Move Backward</button>
                <button class="btn btn-secondary" onclick="sendMoveRight()">Move Right</button>
                <button class="btn btn-secondary" onclick="sendMoveLeft()">Move Left</button>

            </div>

            
            <div class="m-4">
                <p class="my-2"> Chewbacca Setting</p>
                <div class="d-flex justify-content-around"> 
                    <p> Speed </p>
                    <input type="range" min="0" max="100" value="50" class="slider" id="mySlider">
                </div>
                <div class="d-flex justify-content-around"> 
                    <p> Frequency of Sensor </p>
                    <input type="range" min="0" max="100" value="50" class="slider" id="mySlider1">
                </div>
            </div>
            
            
        </div>
    </div>

    <div class="card m-5">
        <div class="card-body">
            <h5 class="card-tile">Communication</h5>
            <hr>
            <div class="row">
              <div id="graph"></div>
            </div>
        </div>
    </div>


    <div class="card m-5">  
        <div class="card-body">
            <h5 class="card-tile">Data Point</h5>
            <hr>
            <div class="row">
              <div id="graph-obstacle"></div>
            </div>
        </div>
    </div>

    <div class="card m-5">  
        <div class="card-body">
            <h5 class="card-tile">Mapping</h5>
            <hr>
            <button class="btn btn-secondary" onclick="kmean()">Run Kmeans</button>
            <div class="row">
              <div id="img"></div>
            </div>
        </div>
    </div>

</div>


<script src="{{ url_for('static', filename='js/plotly/plotly.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='js/bootsrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsquery/jsquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}