{% extends 'base.html' %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
    <span class="title m-5" ><h1>WALL-SLAM Interface</h1></span>

    <div class="card m-5">
        <div class="card-body">
            <h5 class="card-tile ">Status</h5>
            <hr>
        
            <div class="row">
                <button onclick="resetConnection()">Reset ESP Connection</button>

                <p class="col-3 m-2"> Connected : True</p>
                <p class="col-3 m-2"> Wifi : EspTest / 123456789</p>
                <p class="col-3 m-2"> Ip : {{ip}} </p>

                <input type="range" min="0" max="100" value="50" class="slider" id="mySlider">
            </div>
        </div>
    </div>



    <div class="card m-5">
        <h3 class="card-tile m-4">Communication</h3>
        <div class="card-body">
            <div class="row">
              <div id="graph"></div>
            </div>
        </div>
    </div>


      <div class="card m-5">
        <h3 class="card-tile m-4">Data Point</h3>
        <div class="card-body">
            <div class="row">
              <div id="graph-obstacle"></div>
            </div>
        </div>
    </div>

</div>


<script src="{{ url_for('static', filename='js/plotly/plotly.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='js/bootsrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsquery/jsquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}